body{
	padding: 30px;
}
.layui-timeline-axis{
	color: rgb(0, 121, 254);
}
.custom-bg{
	display: inline-block;
	position: absolute;
	color: #fff;
	padding: 1px 10px;
	background: rgb(0, 121, 254);
	cursor: no-drop;
}
.top-sj{
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 14px solid rgb(0, 121, 254);
	border-bottom: 12px solid transparent;
}
.custom-content{
	min-height: 30px;
	border: 1px solid #DCDFE6;
	box-sizing: border-box;
	background: rgb(247, 251, 254);
	padding: 10px;
	margin: 5px 0;
	position: relative;
}
.custom-content>div{
	display: flex;
}
.content-top>img{
	width: 30px;
	margin-left: 10px;
	margin-right: 10px;
}
.content-top{
	line-height: 30px;
}
.content-top>.close{
	text-align: right;
	margin-left: 10px;
	margin-right: 30px;
}
.content-top>.close:hover{
	color: #F56C6C;
	cursor: pointer;
}
.content-top>.concat{
	width: calc(100% - 266px);
}
.content-center{
	padding-left: 12px;
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 12px;
	color: #606266;
}
.content-btm{
	padding-left: 12px;
	font-size: 12px;
}
.content-btm>.title{
	color: #303133;
}
.content-btm>span>a{
	color: #606266;
}
.content-btm>span>a:hover{
	color: #409EFF;
	text-decoration: none
}
.content-btm>.a-link{
	width: calc(100% - 160px);
}
.custom-btn{
	height: 30px;
	line-height: 30px;
}
.custom-btn:hover{
	border-color: #409EFF;
}
.custom-badge{
	width: 20px;
	height: 20px;
	/* background-color: #409EFF; */
	position: absolute;
	top: 40px;
	left: 0;
	/* border-radius: 50%; */
	
}